@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

:root {
  --font-family: sans-serif;
  --font-family: "Bangers", sans-serif;

  --color-darkBlue: #1c1163;
  --color-lightPurple: #927aff;
  --color-white: #fff;
  --color-button: #5f51d2;
}
